body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.payment-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.payment-container h2 {
    margin-bottom: 20px;
}
.qr-code {
    margin: 20px 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #45a049;
}
.qrcode{
    width: 250px;   /* Ajusta a largura para 200px */
    height: 250px;  /* Ajusta a altura para 150px */
}